
.icon-settings:before { content: '\e800'; } /* '' */
.icon-activity:before { content: '\e801'; } /* '' */
.icon-filter:before { content: '\e802'; } /* '' */
.icon-setting:before { content: '\e803'; } /* '' */
.icon-graph:before { content: '\e804'; } /* '' */
.icon-economy:before { content: '\e805'; } /* '' */
.icon-4:before { content: '\e806'; } /* '' */
.icon-5:before { content: '\e807'; } /* '' */
